@font-face {
    font-family: 'Rajdhani-Semibold';
    src: url('../fonts/Rajdhani-SemiBold.ttf');
}

@font-face {
    font-family: 'Rajdhani-Regular';
    src: url('../fonts/Rajdhani-Regular.ttf');
}

body {
    font-family: 'Rajdhani-Regular', sans-serif;
}

/* header */

header {
    height: 700px;
    background-color: #5252DB;
    min-height: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: contain;
    background-repeat: no-repeat;
    -o-background-size: cover;
    background-position: calc(100% + 326px) calc(100%);
    background-image: url(../img/header.png);
}
.header-logo {
    margin-top:100px;
    margin-bottom: 111px;
    margin-left: calc(-1vmin);
}

.location {
    font-size:18px;
    line-height: 23px;
}

.header-content {
    font-family: Rajdhani-Regular;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 500;
    line-height: 58px;
    color: #FFFFFF;
}

 /*section*/
.section-heading {
    text-transform: uppercase;
    font-family: Rajdhani-Semibold;
    font-size: 44px;
    line-height: 56px;
/*     margin-bottom: 60px; */
    font-weight: bold;
    margin-top: -70px;
    color: #3A3A62;
}

section {
    padding-bottom: 70px;
}

.text-color {
    color: #00FFC2;
    font-weight: bold;
    font-family: "Rajdhani-Semibold"
}

/*sponsor styling*/
.sponsors-img {
    width:100%;
    height:100%;
}


/* About styling */
.about-container {
    background: #3A3A62;
    padding: 60px 20px;
}
.about-content {
    margin-left: calc(7vmax);
}
.about-heading {
    /*margin-top: 90px;*/
    font-family: "Rajdhani-Semibold";
    text-transform: uppercase;
    font-size: 1.5em;
    line-height: 1.875em;
    font-weight: bold;
    color: #FFFFFF;
}

.section-lead {
    font-size: 3.375em;
    font-weight: bold;
    font-family: "Rajdhani-Semibold";
    line-height: 1.2em;
    text-transform: uppercase;
    color:#00FFC2;
}

.section-paragraph {
    margin: 30px 0;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.7);
}

.video-container {
    padding: 0;
}
#play-video-bg {
    width:100%;
}

.play-button{
    position: relative;
    bottom: 200px;
    left: 150px;
    width: 80px;
    -webkit-transition:transform 0.5s;
    -moz-transition: transform 0.5s;
    transition: transform 0.5s;
}

.scale {
    transform: scale(1.1);
}

iframe {
    padding: 0
}

/* about end */

/* footer styling */

footer {
    padding-top: 80px;
    padding-bottom: 80px;
    background: #3A3A62;
}

.footer-text {
    display: inline-block;
    font-family: Rajdhani-Semibold;
    font-size:18px;
    font-weight: 500;
    color: #8B8BAE;
}

.inout-logo {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.social-buttons {
    margin-left: 180px;
}

.btn-social {
    display: inline-block;
    border-radius: 100%;
    text-align: center;
}

.btn-outline {
    transition: all .3s ease-in-out;
    margin-left: 10px;
}

.inout-social {
    background-repeat: no-repeat;
    display: inline-block;
    width: 35px;
    background-size: contain;
    height: 40px;
}
.inout-social:hover {
  transition: 200ms;
  transition-timing-function: ease-in-out;
  -webkit-transition: 200ms;
  -webkit-transition-timing-function: ease-in-out;
}
.inout-twitter {
    background-image: url('../img/Twitter_normal.svg');
}

.inout-twitter:hover {
    background-image: url('../img/Twitter_over.svg');
}

.inout-linkedin {
    background-image: url('../img/Linkedin_normal.svg');
}

.inout-linkedin:hover {
    background-image: url('../img/Linkedin_over.svg');
}

.inout-instagram {
    background-image: url('../img/Insta_normal.svg');
}

.inout-instagram:hover {
    background-image: url('../img/Insta_over.svg');
}

.inout-facebook {
    background-image: url('../img/Facebook_normal.svg');
}

.inout-facebook:hover {
    background-image: url('../img/Facebook_over.svg');
}



/* Responsiveness */

@media(max-width:768px) {
    section {
        /*padding-top: 25px;*/
        padding-bottom: 25px;
    }

    .section-heading {
        font-size: 2em;
    }
}

@media (max-width: 992px){
    .modal-lg {
        width: 90%;
    }
    .list-inline, .text-footer {
        text-align: center;
    }
}

