
/*=============================================
=            sponsor page            =
=============================================*/

.padding-top-120{
    padding-top: 100px;
}

.padding-top-44 {
    padding-top: 44px;
}

.sponsor--header{
    background-image: url(../assets/img/sponsor-header.jpg);
    background-position: 100% 0;
}

.header-content  {
    font-weight: 700;
}
.sponsor--about{
background: -webkit-linear-gradient(rgba(58,58,98,1) 42%, rgba(58,58,98,1) 45%, rgba(62,65,105,1) 48%, rgba(63,67,107,1) 49%, rgba(69,79,120,1) 54%, rgba(125,185,232,0) 99%);
background: -moz-linear-gradient(rgba(58,58,98,1) 42%, rgba(58,58,98,1) 45%, rgba(62,65,105,1) 48%, rgba(63,67,107,1) 49%, rgba(69,79,120,1) 54%, rgba(125,185,232,0) 99%);
background: -o-linear-gradient(rgba(58,58,98,1) 42%, rgba(58,58,98,1) 45%, rgba(62,65,105,1) 48%, rgba(63,67,107,1) 49%, rgba(69,79,120,1) 54%, rgba(125,185,232,0) 99%);
background: linear-gradient(rgba(58,58,98,1) 42%, rgba(58,58,98,1) 45%, rgba(62,65,105,1) 48%, rgba(63,67,107,1) 49%, rgba(69,79,120,1) 54%, rgba(125,185,232,0) 99%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a3a62', endColorstr='#007db9e8',GradientType=0 );
}

@media (max-width: 1024px){
    .sponsor--about{
        background: -moz-linear-gradient(top,  rgba(58,58,98,1) 45%, rgba(73,73,174,1) 79%, rgba(82,82,219,0.05) 99%, rgba(82,82,219,0) 100%);
background: -webkit-linear-gradient(top,  rgba(58,58,98,1) 45%,rgba(73,73,174,1) 79%,rgba(82,82,219,0.05) 99%,rgba(82,82,219,0) 100%);
background: linear-gradient(to bottom,  rgba(58,58,98,1) 45%,rgba(73,73,174,1) 79%,rgba(82,82,219,0.05) 99%,rgba(82,82,219,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a3a62', endColorstr='#005252db',GradientType=0 );

    }

    .owl-carousel{
        margin-top: -175px !important;
    }
}

@media (max-width: 768px){
    .section-lead{
        font-size: 2.375em;
    }

    .section-paragraph{
        font-size: 16px;
    }

    .quote p{
        font-size: 18px !important;
    }
}



.zindex{
    z-index: 5;
    padding-bottom: 0;
}

.owl-carousel{
    z-index: -1 !important;
    margin-top: -300px
}

.sponsor--subheading{
    color: white;
    font-size: 24px;
    text-transform: uppercase;
    font-family: 'Rajdhani', sans-serif
}

.card{
    margin-top: 20px;
}

.quote{
    background-color: #00FFC2;
    padding: 40px 40px 0 40px;

}

.arrowtip{
    position: relative;
    width: 0;
    bottom: -24px;
    border-top: 30px solid #00FFC2;
    border-left: 64px solid transparent;
}

.quote p {
    font-size: 22px;
    padding-top: 16px;
}

.quote img{
    height: 40px;
}

.person{
    margin-left: 120px;
    margin-top: 20px;
}

.profile-avatar{
    border-radius: 50%;
    vertical-align: text-bottom
}

.profile{
    display: inline-block;
    color: #fff;
    margin-left: 10px
}
.name{
    font-family: Rajdhani-Semibold, sans-serif;
    font-size: 18px;
}

.designation{
    font-size: 14px;
}

.sponsor--coming{
    background-color: #5252db;
}

.sponsor--sponsor-us{
    background-color: #3a3a62;
}

.sponsor--past img{
    width: 100%;
    margin-top: 60px;
}

.dark-heading{
    color: #3a3a62
}

.sponsor--form{
    background-color: #5252db;
    text-align: center;
}

.subtitle, .section-paragraph {
    font-family: 'Lato',sans-serif;
    font-weight: 300;
    color: #c0d1ff;
    line-height: 1.575em;
    font-size: 1.375em;
}

.short-heading{
    font-size: 2.375em;
}

.sponsorship-form{

}

.sponsorship-form input{
    width: 100%;
    max-width: 100%;
    background-color: #8787F7;
    box-shadow: 0 12px 14px 0 rgba(0,0,0,0.13);
    border-color: #8787F7;
    margin-bottom: 10px;
    height: 44px;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

.sponsorship-form input:hover{
    border-color: #fff;
    box-shadow: 0 13px 15px 0 rgba(0,0,0,0.2)
}

.sponsorship-form input:focus,
.sponsorship-form input:active{
    border-color: #00FFC2;
    color: #fff;
    box-shadow: 0 13px 15px 0 rgba(0,0,0,0.2)
}

.btn-success{
    box-shadow: 0 12px 14px 0 rgba(0,0,0,0.13);
}

.sponsor-page .btn-success{
    margin-top: 15px;
}

.btn-success:hover{
    box-shadow: 0 12px 14px 0 rgba(0,0,0,0.2);
    color: #3a3a62;
}

.help-block{
    margin-bottom: 0;
}

.has-error{
    color: #FF8282 !important;
}

.message{
    color: #00FFC2;
    font-size: 2em;
    font-family: 'Rajdhani', sans-serif;
}

.icon-text{
    color: #fff;
    font-family: 'Rajdhani', sans-serif;
    font-size: 16px;
    position: absolute;
    top: 30px;
}

@media (min-width:1500px) {
    .sponsor-page .section-paragraph{
        font-size: 24px;
    }

}

@media (min-width: 1900px){
    .container{
        width: 1600px
    }
}

@media (min-width:1441px) and (max-width: 1899px){
    .container{
        width: 1350px
    }
}

@media (min-width:1201px) and (max-width: 1440px){
    .container{
        width: 1200px
    }
}

@media (max-width:500px) {
    .padding-top-120{
        padding-top: 20px;
    }
}

@media (max-width:1200px) {
    .sponsor--header{
        background-size: cover;
        background-position: 30% 0;
    }
}


/*=====  End of sponsor page  ======*/
